


.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}



.header{
    background-image: url('../images/Hero-bg.png');
    text-align: center;
    padding-bottom: 50px;
}

.btn-primary{
    border: none;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 400px ;
    color: white;
    padding: 21px 24px;
    border-radius: 7px;


}
/* text alining*/
.text-center{
    text-align: center;
}
.text-alining{
    text-align: center;
    font-size: 48px;
    padding: 10px ;
}
.ntext-align{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.secondary-bg{
    background-color: rgb(245, 243, 243);
    
}



/* Section modification */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 80px 80px;
    margin-top: 50px;
}
.section-title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.section-description{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
h3{
    font-size: 24px;
    color: #515e7e;
}
h5{
    font-size: 16px;
    font-weight: normal;
}
.photo{
    display: flex;
    gap: 10px 30px;
    align-content: center;
    justify-content: space-between;
    margin: 0px 200px;
    

}
.third-bg{
    background-color: rgb(238, 238, 239);
    padding: 30px;
    margin-top: 30px;

}
.image{
    height: 240px;
    width: 274.17px;
   
}
.text-line{
    text-align: left;
}
.new-btn{
    background-color: rgb(253, 252, 252);
    padding: 12px 20px;
    font-size: 18px;
    color: #0D1321;
    border: #0D1321;
}
/* my insp */
.insp{
    text-align: center;
}
.insp-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.insp-descrip{
    font-size: 16px;
    font-weight: light;
    text-align: center;
}
.video{
    border: 5px solid white;
    border-radius: 20px;
    
}

/* Target section */
.targets-container{
    display: flex;
    gap: 24px;
}
.target{
    padding: 30px;
}
    
.target-title{
    font-size: 24px;
    font-weight: bolder;
    color: #0D1321;
}
.target-description{
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
}
.new-btn2{
    border: none;
    background-color: transparent;
    
}
.anchor{
    text-decoration: solid;

}
.anchor2{
    color: #0D1321;
    font-size: 16px;
    font-weight: bolder;
}
.htlm{
    background-color: #f9ebe7;
}
.ssc{
    background-color: #bdb8fd;
}
.js{
background-color: #f3dff0;
}

/* Handeshake pic bannar */

.handshake{
    width: 1140;
    margin: 0  auto;
    border: none ;
    border-radius: 10px;
    min-height: 300px;
    margin-top: 50px;
    
    background-image: url('/images/handshake.jpg');
    background-position: center;
    background-size: cover;
    
}
.h1{
    font-size: 32px;
    font-weight: bold ;
    color: white;
    text-align: center;

}
.submit{
    background-color: rgb(253, 252, 252);
    padding: 12px 20px;
    font-size: 18px;
    color: #0D1321;
    border: #0D1321;
    border-radius: 10px;

}
.label{
    background-color: rgb(253, 252, 252);
    width: 350px;
    padding: 12px 20px;
    font-size: 16px;
    color: #0D1321;
    border: #0D1321;
    border-radius: 10px;

}

.lorem{
    font-size: 16px;
    color: white;
    font-weight: lighter;
    text-align: center;
}
.height{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}


/* Footer Modification */
.flex{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    padding-top: 50px;
}

    


